#body{
  width:1000px
  margin:0 auto;
}



#left{
  border-left: 5px solid #FF5511;
  background-color:#DDDDDD;
  width:50%;
  float:left;
  height:25px;
  margin-right: 5px;
}

#left2{
  
  height:975px;
  margin-right: 5px;
  
}


#middle{
  float:left;
  margin-right:10px;
}

#right{
  float:left;
  background-color:white
  width:40%;
  height:1000px;
  text-align:left;
  
}
  
  